@use '../../mixins.scss' as mixins;

@mixin toggle-line-position {
  position: absolute;
  display: block;
  height: 0.22em;
  width: 3em;

  border-radius: 1em;
  background-color: $white;
}

@mixin toggle-line-pseudo {
  transition:
    top 0.1s ease-in 0.25s,
    opacity 0.1s ease-in,
    bottom 0.1s ease-in 0.25s;
}

@mixin toggle-line {
  @include toggle-line-position;
  transition-property: transform;
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

  &::before {
    @include toggle-line-position;
    @include toggle-line-pseudo;
    top: -0.8em;
    content: '';
  }

  &::after {
    @include toggle-line-position;
    @include toggle-line-pseudo;
    bottom: -0.8em;
    content: '';
  }

  &.opened {
    transform: rotate(225deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

    &::before {
      top: 0;
      opacity: 0;
      transition:
        top 0.1s ease-out,
        opacity 0.1s ease-out 0.12s;
    }

    &::after {
      bottom: 0;
      transform: rotate(-90deg);
      transition:
        bottom 0.1s ease-out,
        transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
    }
  }
}

@mixin toggle-menu($target, $toggle-prop, $toggle-value) {
  .#{$target}-menu {
    width: 12em;
    height: 100%;
    border-right: $white-grey-border;

    button {
      @include mixins.flex-center;
      width: 100%;
      height: 100%;
      background-color: black;

      cursor: pointer;
      color: $white-grey;
      border: none;

      @content;
    }

    .#{$target}-list {
      position: relative;
      margin: 0;
      padding: 0;
      text-wrap: nowrap;
      text-align: center;
      list-style: none;
      z-index: 1;
      #{$toggle-prop}: 0;
      overflow: hidden;
      transition: #{$toggle-prop} 0.3s ease-in-out 0s;

      .item {
        background-color: $white;
        border: $white-grey-border;
        border-top: none;
        padding: 0.5em;
        color: $aqua;
        text-transform: uppercase;
        font-size: 0.6em;

        cursor: pointer;

        &:hover {
          background-color: $white-grey;
          border-bottom: 1px solid $aqua;
        }
      }

      .menu-btn {
        font-size: 0.8em !important;

        &.active {
          background-color: $white-grey;
          border-bottom: 1px solid $aqua;
        }
      }

      &.opened {
        #{$toggle-prop}: #{$toggle-value};
      }
    }
  }
}

.toggle-menu-container {
  padding-top: 3.5em;

  .current-filter {
    display: flex;
    align-items: center;
    height: 6em;
    margin-left: 1.5em;

    text-transform: uppercase;

    span {
      @include mixins.font-style-size(normal, 1.4em);
      color: $aqua;
    }
  }

  .toggle-menu-wrapper {
    width: 100%;
    height: 3.5em;
    background-color: black;

    .toggle-menu {
      display: flex;
      height: 100%;

      @include toggle-menu(filter, width, 12em) {
        .toggle-line {
          @include toggle-line;
        }
      }

      @include toggle-menu(sort, height, 5em) {
        .sort-icon {
          width: 2.2em;
          height: auto;
        }
      }
    }
  }
}

.checkbox-item {
  @include mixins.flex-center;

  input {
    display: none;

    &:checked + .checkmark::before {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: $aqua;
        content: "";
    }
  }

  .checkmark {
    position: absolute;
    left: 1em;
    width: 10px;
    height: 10px;
    border: 0.1px solid $aqua;
    border-radius: 50%;
  }
}

@media screen and (max-width: 560px) {
  .toggle-menu-container {
    .current-filter {
      justify-content: center;
      margin: 0 !important;

      span {
        @include mixins.font-style-size(normal, 1.2em);
      }
    }

    .toggle-menu-wrapper {
      .toggle-menu {
        .filter-menu,
        .sort-menu {
          width: 50%;

          .filter-list,
          .sort-list {
            &.opened {
              width: 100%;
            }
          }
        }

        .sort-menu {
          border-right: none;
        }
      }
    }
  }
}
