@import "./components/main/header.scss";
@import "./components/main/bookingWidget.scss";
@import "./components/main/video.scss";
@import "./components/main/services.scss";
@import "./components/navbar.scss";

@font-face {
  font-family: 'Quicksand-Regular';
  src: url('../assets/fonts/Quicksand-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'TenorSans-Regular';
  src: url('../assets/fonts/TenorSans-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  background-color: $white;
}

* {
  box-sizing: border-box;
}

.text-content {
  font-size: $font-size;
  font-family: TenorSans-Regular, "Times New Roman", sans-serif;
}

.text-header {
  font-size: $header-font-size;
  text-transform: uppercase;
  color: $aqua;
}

.scale-up {
  animation: scale-up .6s ease-in-out .3s forwards;
}

.fade-up {
  animation: fade-up 1s ease-in-out 0s forwards;
}

.fade-down {
  animation: fade-down .6s ease-in-out .8s forwards;
}

.scale-down {
  animation: scale-down .8s ease-in-out .2s forwards;
}

.scale-up-btn {
  animation: scale-up .6s ease-in-out .6s forwards;
}