$white-grey: #f7f7f7;
$black: #000000;
$dark: #222020;
$white: #fff;
$dark-grey: #4e5051;
$grey: #cbcbcba6;
$light: #f8f8f8;
$aqua: #007373;
$white-grey-border: 1px solid $white-grey;
$font-size: 1.2em;
$font-size-mobile: 1em;
$btn-font-size: 0.8em;
