.booking-widget {
  position: fixed;
  right: 0;
  width: 30%;
  height: 100%;
  z-index: 1;

  transition: transform 0.3s ease-in-out;
  background-color: $white;

  .booking-frame {
    width: 100%;
    height: 100%;
    border: 1px solid $white;
  }

  .close-btn-wrapper {
    width: 100%;
    height: 1.5em;

    .close-btn {
      @include flex-center;
      position: absolute;
      right: 0;
      top: 0;
  
      background: none;
      border: none;
      cursor: pointer;
    }
  }
}

.show-booking {
  transform: translateX(0%);

  .close-btn {
    opacity: 1;
  }
}

.hide-booking {
  transform: translateX(100%);

  .close-btn {
    opacity: 0;
  }
}

@media screen and (max-width: 1024px) {
  .booking-widget {
    width: 50%;
  }
}

@media screen and (max-width: 560px) {
  .booking-widget {
    width: 100%;
  }
}