.booking-widget-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  z-index: 20;

  transition: transform 0.3s ease-in-out;
  background-color: $white;

  .booking-widget-wrapper {
    position: relative;
    width: 100%;
    height: 100%;

    .booking-frame {
      width: 100%;
      height: 100%;
      border: 1px solid $white;
    }
    .close-btn {
      position: absolute;
      padding: 0.5em;
      top: 0;
      left: 0;

      background: none;
      border: none;
      cursor: pointer;
    }
  }
}

.show-booking {
  transform: translateX(0%);

  .close-btn {
    opacity: 1;
  }
}

.hide-booking {
  transform: translateX(100%);

  .close-btn {
    opacity: 0;
  }
}

@media screen and (max-width: 1024px) {
  .booking-widget-container {
    width: 50%;
  }
}

@media screen and (max-width: 560px) {
  .booking-widget-container {
    width: 100%;
  }
}
