@use '../../mixins.scss' as mixins;

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: black;

  .footer-contacts {
    text-align: center;
    color: $light;
    padding: 2em;

    h3 {
      margin: 0.5em;
      text-transform: uppercase;
    }

    .footer-interactive {
      @include flex-center;
      flex-direction: column;

      p {
        text-wrap: nowrap;
      }

      .contact-links {
        display: flex;
        align-items: center;

        margin: 0.5em;
        color: $light;
        text-decoration: none;

        span {
          margin-left: 0.2em;
        }
      }

      @include mixins.booking-btn(14em, $light, $light) {
        border-radius: 0.5em;

        &:hover {
          color: $dark;
        }
      }

      .call-button-wrapper {
        display: flex;
        align-items: center;
        margin-top: 0.5em;
        margin-right: 1.4em;

        svg {
          margin-right: 0.5em;
        }
      }

      .social-links {
        @include flex-center;

        .link {
          @include flex-center;
          text-decoration: none;
          color: $light;
          margin: 0.5em;
        }
      }
    }
  }

  .map-container {
    width: 100vw;
    overflow: hidden;

    h3 {
      margin: 1em;
      padding: 1em;
      text-align: center;
      white-space: nowrap;
      text-transform: uppercase;
      color: $light;
    }

    .map {
      height: 30em;
    }
  }
}
