.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: black;

  .footer-contacts {
    text-align: center;
    color: $light;
    padding: 2rem;

    .footer-interactive {
      @include flex-center;
      flex-direction: column;

      @include booking-btn(14rem, $light, $light) {
        border-radius: 0.5rem;

        &:hover {
          color: $dark;
        }
      }

      .social-links {
        @include flex-center;

        .link {
          @include flex-center;
          text-decoration: none;
          color: $light;
          margin: 0.5rem;
        }
      }
    }
  }

  .map-container {
    width: 100vw;
    overflow: hidden;
  
    h2 {
      margin: 1rem;
      padding: 1rem;
  
      font-size: 1.5rem;
      text-align: center;
      text-transform: uppercase;
      color: $light;
    }

    .map {
      height: 30rem;
    }
  }
}