@mixin parallax-wrapper {
  height: 100%;
  width: 100%;

  will-change: transform;
}

@mixin booking-btn($width, $color, $hover-color) {
  .booking-btn {
    width: $width;
    height: 2rem;

    color: $color;
    background: none;
    border: 1px solid $color;
    font-size: $btn-font-size;
    text-transform: uppercase;
    font-family: TenorSans-Regular, "Times New Roman", sans-serif;

    @content;

    &:hover {
      @content;
      border: $hover-color;
      background-color: $hover-color;
    }
  }
}

.main-header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  
  background-color: $light;

  .parallax-banner {
    position: fixed;
    top: 0;
    left: 0;
  
    overflow: hidden;
    @include parallax-wrapper;

    .parallax-layer {
      position: absolute;
      object-fit: cover;
      @include parallax-wrapper;
    }
  }

  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    position: relative;
    height: max-content;
    margin-right: 10rem;
    opacity: 0;
  
    animation: scale-up 1s ease-in-out 0s forwards;

    @include booking-btn(16rem, $light, $dark) {
      border-radius: 0;
    }
  }
}

@media screen and (max-width: 768px) {
   .main-header {
    align-items: center;
    justify-content: flex-end;

    .parallax-banner {
      position: absolute;
      height: 100vh;
      width: 100vw;
    }

    .main-content {
      margin: 3rem;
      z-index: 0;
    }
   }
}