@use "../../mixins.scss" as mixins;

@mixin parallax-wrapper {
  height: 100%;
  width: 100%;

  will-change: transform;
}

.main-header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  
  background-color: $light;

  .parallax-banner {
    position: fixed;
    top: 0;
    left: 0;
  
    overflow: hidden;
    @include parallax-wrapper;

    .parallax-layer {
      position: absolute;
      object-fit: cover;
      @include parallax-wrapper;
    }
  }

  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    position: relative;
    height: max-content;
    margin-right: 10em;
    opacity: 0;
  
    animation: scale-up 1s ease-in-out 0s forwards;

    p {
      color: $light;
      text-align: center;
      margin: 0;
      padding: 1em;
    }

    @include mixins.booking-btn(16em, $light, black) {
      border-radius: 0;
    }
  }
}

@media screen and (max-width: 1023px) {
  .main-header {
    align-items: center;
    justify-content: flex-end;

    .main-content {
      margin-right: 0;
      margin-bottom: 3em;
    }
  }
}

@media screen and (max-width: 767px) {
   .main-header {
    .parallax-banner {
      position: absolute;
      height: 100vh;
      width: 100vw;
    }

    .main-content {
      z-index: 0;
    }
   }
}