#services {
  display: flex;
  flex-direction: column;
  align-items: center;

  .services-flow {
    position: relative;
    display: flex;
    align-items: center;
  
    height: 25em;
    width: 100%;
    overflow-x: auto;
    opacity: 0;
    flex-basis: 100%;
  
    .services-card {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    
      min-height: 20%;
      height: 22em;
      margin-left: 1em;
    
      flex: 1 0 18em;
      overflow-y: hidden;
    
      background-color: $white;
      border: 0.5px solid $grey;
      border-radius: 0.5em;
      transition: transform .6s ease-in-out;
  
      img {
        opacity: 0;
      }
    }
  }

  .services-discounts {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 2em;

    .discount {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      
      opacity: 0;
      transition: opacity .5s ease-in-out 1s;

      &:last-child {
        .old-price {
          text-decoration: line-through;
        }
      }
    }

    .active {
      opacity: 1;
    }
  }
  
  .services-text {
    opacity: 0;
    text-align: center;
    width: 50%;
  
    padding: 1em;
  }
  
  @include booking-btn(18em, $aqua, $aqua) {
    opacity: 0;
    border-radius: 0.5em;
  
    &:hover {
      color: $light;
    }
  }  
}

@media screen and (max-width: 768px) {
  #services {
    display: block;
    .services-text {
      width: 100%;
    }
  }
}