@mixin arrow-btn {
  position: absolute;
  top: 50%;
  width: 5em;
  height: 5em;

  border: none;
  cursor: pointer;
  color: $light;
  opacity: 0;
  transform: translateY(-50%);

  &:hover {
    opacity: 0.8;
  }
}

.slider-text {
  @include flex-center;
  
  p {
    border-top: 1px solid $grey;
    padding: 3rem;
    width: max-content;
  }
}

.slider-wrapper {
  position: relative;

  .slider {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    .slide {
      grid-row: 1 / 1;
      grid-column: 1 / 1;
      transition: transform .6s ease-in-out;

      img {
        object-fit: cover;
        object-position: center;
      }
    }

    .active {
      flex: 0 0 100%;
      transform: translateX(0%);
    }
    
    .inactive {
      transform: translateX(-100%);
    }
  }

  .prev {
    @include arrow-btn;
    left: 0;
  }
  
  .next {
    @include arrow-btn;
    right: 0;
  }
}
